.deck {
  display: flex;
  justify-content: space-around;
  align-items: center;

  border: 2px dotted #ffffff;
  border-radius: 15px 15px 15px 15px;

  color: #ffffff;
}

.deck p {
  font-family: "Mate SC", serif;
}
