* {
  user-select: none;
}

button {
  user-select: none;
  transition: 0.2s;
}

button:focus {
  outline: none;
}

button:hover {
  transform: scale(1.1, 1.1);
}

button:active {
  transform: unset;
  outline: none;
}
